 <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">forget me not</div>
                <div class="intro-lead-in">a friendly reminder app</div>
                <a href="/new" class="page-scroll btn btn-xl">Create a Reminder</a>
            </div>
        </div>
    </header>