<section id="contact">
<center>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Send your Reminder</h2>
                    <h3 class="section-subheading text-muted">Be kind. Be actionable. Be specific.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="/" method="post" name="sentMessage" id="contactForm" novalidate="">
                        <div class="row">
                             <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="reminder[phone_number]" placeholder="Friend's Phone Number" class="form-control" id="message" required="" data-validation-required-message="Please enter friends' phone numbers"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="reminder[message]" placeholder="Type Message Here"  id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Reminder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </center>
    </section>

<!-- <br>

<form action="/" method="post"> 
<br>
Who do you want to send reminder to?
<br>

<input type="text" name="reminder[phone_number]" placeholder="Friend's Phone Number">
<br>
<br>
What do you want to remind them of?
<br>
<input type="text" name="reminder[message]" placeholder="Type Message Here" height= 50px>
<br>

<button type="submit">Send Reminder</button>
</form> -->