



<a href="/"> Home! </a>

  <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Reminder Sent</div>
               <!--  <div class="intro-lead-in">a friendly reminder app</div> -->
                <a href="/new" class="page-scroll btn btn-xl">Send Another Reminder</a>
            </div>
        </div>
    </header>