<center>
<a class="home-link" href="/"> Home </a>
<br>
<br>
<br>
  <header>
        <div class="container">
            <div class="intro-text">
                <a class="another" href="/new" class="page-scroll btn btn-xl">Send Another Reminder</a>
            </div>
            <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
            <div class="sent">Reminder Sent!</div>
        </div>
    </header>
    </center>